*{
    margin: 0;
}

html, body {width:100%; overflow-x:hidden}

.header{
    display: flex;
    width: 100%;
    font-size: 30px;
    margin-bottom: 30px;
    padding-left: 15%;
}

.header-span{
    color: #fff;
}

.content-gamelist{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.card-game{
    width: max(360px, 25%);
}

.card-game-link{
    width: 100%;
}

.card-game-link-image{
    width: 100%;
}

.pagination-games{
    align-self: center;
    margin-bottom: 50px;
}

.card-filter{
    align-self: center;
    width: 80%;
    margin-bottom: 40px;
}

.game-page{
    display: flex;
    width: max(70%, 700px);
    justify-content: center;
    align-items: center;
}

.game-page-main{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
} 

.game-page-carousel{
    width:  640px;
    height: 360px;
    margin: 40px auto;
}

@media screen and (max-width: 640px) {
    .game-page-carousel{
        width:  480px;
        height: 270px;
        margin: 40px auto;
    }
}

@media screen and (max-width: 480px) {
    .game-page-carousel{
        width:  320px;
        height: 180px;
        margin: 40px auto;
    }
}



